name: Deployment Testing

on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:


jobs:
  compare:
    runs-on: ubuntu-latest
    env:
      METADATA_FILE_PATH: ./metadata/cq-metadata.json

    steps:
    - name: Print variable
      run: echo $LOCALVAR

    - name: Install jq for using JSON
      run: |
        sudo apt-get update
        sudo apt-get install -y jq 

    - name: checkout repo
      uses: actions/checkout@v2.3.4

    - name: Print metadata file content
      run: cat $METADATA_FILE_PATH

    - name: Change permissions
      run: chmod +x src
    
    - name: Print file using jq
      run: |
        JSON=$(cat $METADATA_FILE_PATH)
        jq -c '.[]' <<< "$JSON" | while read obj; do
          name=$(jq -r '.name' <<< "$obj")
          localPath=$(jq -r '.localPath' <<< "$obj")
          envPath=$(jq -r '.envPath' <<< "$obj")
          echo "cat $localPath"
        done